@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700%7CRoboto+Condensed&ver=4.9.8");

$cc-orange: #ef9421;
$light-grey: #a7a9ac;
$dark-grey: hsl(0, 0%, 0%);

$primary: $cc-orange;
$default: $cc-orange;

// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";
@import "../../../node_modules/bulma/sass/grid/all.sass";
@import "../../../node_modules/bulma/sass/components/modal.sass";
@import "../../../node_modules/bulma-switch/dist/css/bulma-switch.sass";
@import "../../../node_modules/cool-checkboxes-for-bulma.io/dist/css/bulma-radio-checkbox.css";
@import "../../../node_modules/@creativebulma/bulma-collapsible/dist/css/bulma-collapsible.min.css";