
/* add legacy-vocabulary styling */
@import '../../static/vocabulary-legacy/legacy-vocabulary.css';    

.select:not(.is-multiple):not(.is-loading)::after {
    border: none;
}

// adds correct bullet styling to item 3(index2) in the ChooserModal.vue 
.modal .modal-body .modal-2 ul {
    list-style: circle; 
}



@media only screen and (max-width: 768px) {
    h3 {
        font-size: 1.25rem;
    }

   
    #site-container {
        h3 {
            font-size: 1.25rem;
        }
        h4.b-header {
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1.4375rem;
            letter-spacing: 0;
            text-align: left;
        }
        .body-bigger, .body-big {
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5625rem;
            letter-spacing: 0;
            text-align: left;

        }
        .body-normal {
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5rem;
            letter-spacing: 0;
            text-align: left;

        }
    }
}

/* add new Vocabulary styling */
@import '../../static/vocabulary/css/vocabulary.css';

/* localized patch styles to get new Vocabulary to apply correctly */
#app > header {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 2em;
    /* padding: 0 var(--vocabulary-page-edges-space); */
}

.container {
    margin-bottom: 8em;
}

.container .icon {
    background-color: initial;
    -webkit-mask-image: none;
    mask-image: none;
}

#app > footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "logo nav nav nav"
    "contact subscribe subscribe donate"
    "contact license license donate";
    gap: 40px;
    padding: 20px var(--vocabulary-page-edges-space);
    padding-top: 40px;
    padding-bottom: 40px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    color: white;
    background: black;
}

#app > footer h2 {
    margin: .83em 0;

    color: white;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25em;
}

#app > footer a {
    color: var(--vocabulary-brand-color-turquoise);
    text-decoration: none;
}

#app > footer p {
    line-height: 1.5;
    margin: 1em 0;
}

/* needs to be moved to be broader in general specificity scope */
#app > footer p a {
    /* better hyperlink underline typesetting inspired by Tufte CSS */
    --underline-color: var(--vocabulary-brand-color-turquoise);
    --underline-background-color: black;
    color: var(--vocabulary-brand-color-turquoise);
    /* text-decoration: none; */

    /* adapted from Tufte.css -- Copyright (c) 2014 Dave Liepmann -- https://github.com/edwardtufte/tufte-css -- https://github.com/edwardtufte/tufte-css/blob/gh-pages/LICENSE */
    background: -webkit-linear-gradient(var( --underline-color), var( --underline-color)), -webkit-linear-gradient(var( --underline-color), var( --underline-color)), -webkit-linear-gradient(currentColor, currentColor);
    background: linear-gradient(var( --underline-color), var( --underline-color)), linear-gradient(var( --underline-color), var( --underline-color)), linear-gradient(currentColor, currentColor);
    -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    text-shadow: 0.03em 0 var(--underline-background-color), -0.03em 0 var(--underline-background-color), 0 0.03em var(--underline-background-color), 0 -0.03em var(--underline-background-color), 0.06em 0 var(--underline-background-color), -0.06em 0 var(--underline-background-color), 0.09em 0 var(--underline-background-color), -0.09em 0 var(--underline-background-color), 0.12em 0 var(--underline-background-color), -0.12em 0 var(--underline-background-color), 0.15em 0 var(--underline-background-color), -0.15em 0 var(--underline-background-color);
    background-position: 0% 93%, 100% 93%, 0% 93%;
    /* background-position-y: 87%, 87%, 87%; */

}

#app > footer .identity-logo {
    grid-area: logo;
    display: inline-block;
    text-indent: -1000px;
    vertical-align: bottom;
    height: 50px;
    width: 191px;


    /* allows for color manipulation of svg */
    background-color: white;
    -webkit-mask-image: url('../../static/vocabulary/svg/cc/logos/cc/logomark.svg');
    mask-image: url('../../static/vocabulary/svg/cc/logos/cc/logomark.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    cursor: pointer;

    /* standard pattern for setting logo in lieu of background color manipulation */
    /* background: url('../../svg/cc/logos/cc/logomark.svg') left top no-repeat; */
}

#app > footer .identity-logo:hover {
    background-color: var(--vocabulary-brand-color-turquoise);
}

#app > footer .footer-menu {
    grid-area: nav;

    font-size: 1.3em;
    font-weight: 700;
}

#app > footer .footer-menu ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
}

#app > footer .footer-menu ul li a {
    text-decoration: none;
    color: var(--vocabulary-brand-color-turquoise);

}

#app > footer .contact {
    grid-area: contact;
}

#app > footer .contact .social-menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 3em;

    list-style: none;

}

#app > footer .contact .social-menu ul li {
    margin-right: 1.5em;
}

#app > footer .social-menu li a {
    --icon-sprite-color: white;
    --icon-sprite-size: 1.9em;
}

#app > footer .subscribe {
    grid-area: subscribe;
}

#app > footer .subscribe form {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#app > footer .subscribe form input {
    display: inline-flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    vertical-align: top;
    box-sizing: border-box;
    -webkit-appearance: none;
    background-color: transparent;
    color: rgb(118, 118, 118);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.3;
    border: 2px solid rgb(118, 118, 118);
    /* border-radius: 4px; */
    box-shadow: none;
}

#app > footer .subscribe form input.input {
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: .5em;
    width: 100%;
}

#app > footer .subscribe form input.input:focus {
    color: white;
}

#app > footer .subscribe form input.button {
    justify-content: center;
    padding: 1.1em;

    cursor: pointer;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.125rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 0;
    white-space: nowrap;
    background-color: rgb(118, 118, 118);
    border: none;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: rgb(255, 255, 255);
}

#app > footer .donate {
    grid-area: donate;
}

#app > footer .donate a.donate {
    display: inline-flex;
    align-items: center;
    padding: 1rem 1.5rem;

    text-transform: uppercase;
    font-family: 'Roboto Condensed';
    font-size: 1.5em;
    line-height: 1em;
    font-style: normal;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    color: black;
    background: var(--vocabulary-brand-color-gold);
}

#app > footer .donate a.donate:hover {
    cursor: pointer;

    background-color: rgb(248, 204, 44);
}

/* set the icon settings */
#app > footer .donate a.donate.icon-attach:before {
    /* --icon-sprite: var(--cc-heart-filled); */
    --icon-sprite-color: black;
    --icon-sprite-size: 1.2em;

    margin-right: .3em;
}

#app > footer .license {
    grid-area: license;
}

#app > footer .license img path {
    fill: white;
    /* width: 1.2em; */
}

#app > footer .license svg {
    display: inline;
    width: 1.9em;
    height: 1.9em;
    margin-right: .3em;
}

@media (max-width: 680px) {

    #app > footer {
        display: block;
    }

    #app > footer > nav {
        margin-top: 1em;
        margin-bottom: 3em;
    }

    #app > footer > nav ul li {
        margin-bottom: 1em;
    }

    #app > footer > div {
        margin-bottom: 4em;
    }
}

@media (max-width: 580px) {


    #app > footer .footer-menu ul {
        display: block;
    }
}
