.edu-icons-section {
    margin-top: 1.5%;
}

.edu-icons-section img {
    width: 40px;
    vertical-align: middle;
}

.chooser-controls-icons {
    width: 45px;
}

.unselected {
    width: 45px;
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}

.modal-icon {
    width: 30px;
    vertical-align: middle;
    display: inline;
}

/* The next three classes were copied from w3schools */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
padding: 0 18px;
display: none;
overflow: hidden;
background-color: #f1f1f1;
}

a.modal-icon {
    vertical-align: middle;
    display: inline;
}

img.chooser-license-icon {
    width: 15%;
}

a.generator-copy-button {
    margin-top: .4%;
    margin-bottom: 1.3%;
}

header {
    background: #ef9421;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}