.edu-icons-icon img {
    width: 40px;
    vertical-align: middle;
}

.modal-icon {
    width: 30px;
    vertical-align: middle;
    display: inline;
}

a.modal-icon {
    vertical-align: middle;
    display: inline;
}

img.chooser-license-icon {
    width: 15%;
}

header {
    background: #ef9421;
}