/* Vocabulary Text styles */
.vocab-body {
    font-style: normal;
    font-weight: normal;
    color: #333333;
    padding-bottom: 8px;
}
.vocab-body.body-bigger {
    font-size: 23px;
    line-height: 33px;
    color: black;
}
.vocab-body.body-big {
    font-size: 18px;
    line-height: 25px;
}
.vocab-body.body-normal {
    font-size: 16px;
    line-height: 24px;
}
.vocab-caption {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    padding-bottom: 8px;
}

/* Vocabulary colors */
.normal-gray {
    color: #D8D8D8!important;
}
.slate-gray {
    color: #333333;
}
.vocab-tomato {
    color: #ED592F!important;
}
/* Vocabulary other styles */
.vocab.license-icons img {
    width: 35px;
    height: 35px;
}
// Remove underlines from Previous/Next buttons
a, a:hover {
    text-decoration: none;
}

.select:not(.is-multiple):not(.is-loading)::after {
    border: none;
}
