.select:not(.is-multiple):not(.is-loading)::after {
    border: none;
}

// adds correct bullet styling to item 3(index2) in the ChooserModal.vue 
.modal .modal-body .modal-2 ul {
    list-style: circle; 
}

.attribution-tabs {
    word-wrap: break-word;
}

@media only screen and (max-width: 1023px) {
    .navbar-brand .logo {
        margin-left: 20px;
    }

}

@media only screen and (max-width: 768px) {
    h3 {
        font-size: 1.25rem;
    }

    .navbar-brand .navbar-burger {
        display: none;

    }

    .navbar-brand .logo {
        margin-left: 20px;
    }

    #site-container {
        h3 {
            font-size: 1.25rem;
        }
        h4.b-header {
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1.4375rem;
            letter-spacing: 0;
            text-align: left;
        }
        .body-bigger, .body-big {
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5625rem;
            letter-spacing: 0;
            text-align: left;

        }
        .body-normal {
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5rem;
            letter-spacing: 0;
            text-align: left;

        }
    }
}
