@import 'vocabulary/css/vocabulary.css' layer(vocabulary);

/* 
 ol li:has(#require-attribution, #allow-commercial-use, #allow-derivatives, #share-alike, #waive-your-copyright, #confirmation) {
    display: none;
} */

ol li:has(.disable) {
    display: none;
}

.chooser-mini {
    width: 80%;
    margin: 0 auto;
    margin-top: 3em;

    font-size: .8em;
}

.chooser-mini a {
    color: #324c7f;
}

.chooser-mini header h2 {
    text-align: center;
    color: #324c7f;
    /* color: #414040; */
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
}

.chooser-mini label {
    display: none;
}

.chooser-mini select {
    padding: .8em .5em;
    padding-right: 1.4em;

    appearance: none;
    background: transparent;
    border: 2px solid #bfbdbd;
    border-color: #324c7f;
    color: #324c7f;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-family: 'Source Sans Pro';
}

.chooser-mini .license-menu div {
    position: relative;
    background: transparent;
}

.chooser-mini .license-menu div.icon-attach:before {
    --icon-sprite-color: #324c7f;

    position: absolute;
    top: 1em;
    right: .4em;
    z-index: -1;
}

.chooser-mini .license-menu a.need-help-choosing {
    font-style: italic;
}

.chooser-mini .license-menu {
    display: flex;
    justify-content: space-between;

    font-size: 1.5em;
}

.chooser-mini .license-menu a {
    margin-top: .7em;
    display: inline-block;
    height: min-content;
}

.chooser-mini .explainer {
    margin-top: 2em;
    padding: 2em;
    position: relative;

    background: var(--vocabulary-neutral-color-lighter-gray);
    background: #CBF3F0;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    
}

.chooser-mini .explainer:before {
    content: '';
    width: 2em;
    height: 2em;
    position: absolute;
    top: -13px;
    left: 50px;
    transform: rotateZ(45deg);

    background: var(--vocabulary-neutral-color-lighter-gray);
    background: #CBF3F0;
}

.chooser-mini .explainer h3 {
    margin-top: 0;

    font-family: 'Source Sans Pro';
}

.chooser-mini .explainer a {
    --underline-background-color: var(--vocabulary-neutral-color-lighter-gray);
    --underline-background-color: #CBF3F0;
    font-size: .8em;
}

.chooser-mini .explainer .license-graphics {
    display: flex;
    justify-content: space-between;
    opacity: .7;
}


.chooser-mini .explainer .license-icons svg {
    font-size: 1.3em;
    display: inline;
    width: 1.9em;
    height: 1.9em;
    margin-right: .1em;
}

.chooser-mini .explainer img.license-badge {
    /* width: 120px; */
    /* height: 42px; */
    height: 2.7em;
}

.chooser-mini .explainer p {
    margin-top: 1.7em;
    line-height: 1.6;
}

.chooser-mini .explainer .license-info-nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
}



body {
    /* grid-template-columns: 2% 6% 6% 6% 15% 30% 15% 6% 6% 6% 2%; */
}


body > header .masthead {
    --vocabulary-page-edges-space: 2%;
    padding-top: 20px;

}

body > header .masthead h1 {
    font-size: 2em;
}

body > header .masthead .identity-logo.product {
    /* text-indent: 84px; */
    /* line-height: 72px; */
    line-height: 50px;
    text-indent: 65px;

    font-family: 'Source Sans Pro';
    font-weight: 600;
}

body > header .masthead .identity-logo.product .slash {
    padding: 0 .2em;

    font-family: Times;
    font-size: .7em;
    line-height: 1em;

  
}

body > header .masthead h1 a:before {
    /* width: 80px;
    height: 80px;    */

    width: 60px;
    height: 60px;
}



body > header .masthead .identity-logo.product {
    color: #324c7f;
    color: #414040;
}

body > header .masthead .identity-logo.product:hover {
    color: purple;
    /* text-decoration: underline; */
}


body > header .masthead .identity-logo.product:before {
    background-color: #324c7f;
    background-color: #414040;
}


body.mini-chooser > header, body.mini-chooser main > header {
    /* display: none; */
}

body > header .masthead .primary-menu ul li {
    margin-left: 3em;
}

body > header .masthead .primary-menu ul li a {
    font-family: 'Source Sans Pro';
    text-transform: capitalize;
    text-transform: lowercase;
    font-weight: 600;
    color: black;
    font-size: 1.4em;

    color: #324c7f;
    color: #414040;

}

body > header .masthead .primary-menu ul li a:hover {
    color: purple;
    text-decoration: underline;
}

body > header .masthead .primary-menu ul li a.donate {
    padding: .5em .7em;

    color: #62327F;
    color: #bb377e;
    background: #E4CBF3;
    background: #fee9f9;
    border-radius: 5px;
}

body > header .masthead .primary-menu ul li a.donate:hover {
    color: white;
    background: #bb377e;
    text-decoration: none;

}

body > header .masthead .primary-menu ul li a.donate:before {
    --icon-sprite-color: #62327F;
    --icon-sprite-color: #bb377e;
    --icon-sprite-size: .7em;
    
    margin-right: .3em;

    /* margin-top: 6px; */
}

body > header .masthead .primary-menu ul li a.donate:hover:before{
    --icon-sprite-color: white;
}

body.mini-chooser main > header {
    display: none;
}

body.mini-chooser main > header h1 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    /* font-size: 4em; */
}


body.mini-chooser > footer {
    display: none;
}