name: Lint and Test

on: pull_request

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Use Node.js
              uses: actions/setup-node@v1
              with:
                  node-version: '12.x'
            - name: Run npm install
              run: npm ci

            - name: Lint
              run: npm run lint

            - name: Test
              run: npm run test:unit
              env:
                  CI: true
            - name: Cypress run
              uses: cypress-io/github-action@v2
              with:
                start: npm run serve
                wait-on: 'http://localhost:8080'
